<h1>Edit your auto info</h1>

<form action="/autos/<%= @auto.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="make">Make</label>
  <input type="text" name="auto[make]" id="make" value="<%= @auto.make %>">

  <label for="model">Model</label>
  <input type="text" name="auto[model]" id="model" value="<%= @auto.model %>">

  <label for="year">Year</label>
  <input type="text" name="auto[year]" id="name" value="<%= @auto.year %>">

  <label for="price">Price</label>
  <input type="text" name="auto[price]" id="name" value="<%= @auto.price %>">

  <br>
  <br>
  <a href="/owners/<%= @auto.owner.name %>"> <%= @auto.owner.name  %> </a>
  <br>
  <br>
  <input type="submit" value="Save">
  <a href="/logout">logout </a>
</form>
