<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<table style="width:65%">
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Price</th>
      <tr>
        <td><%= @auto.year %></td>
        <td><%= @auto.make %></td>
        <td><%= @auto.model %></td>
        <td><%= @auto.price %></td>
      </tr>
  </tr>
</table>
<a href="/owners/<%= @auto.owner.name %>"> <%= @auto.owner.name  %> </a>

<% @auto.buyers.each do |buyer| %>
  <a href="/buyers/<%= buyer.slug %>"><%= buyer.name %> </a>
<% end %>
<a href="/logout">logout </a>
