<<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h3>Your available cars <%= @buyer.name %></h3>

<form action="/buyers" method="POST">

  <table style="width:65%">
    <tr>
      <th>Select</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
      <% Auto.all.each do |auto| %>
        <tr>
          <td><input type="checkbox" name="autos[]" value="<%= auto.id %>" id="<%= auto.name %>" <%='checked' if @buyer.autos.include?(auto) %>></td>
          <td><%= auto.year %></td>
          <td><%= auto.make %></td>
          <td><%= auto.model %></td>
          <td><%= auto.price %></td>
        </tr>
      <% end %>
    </tr>
  </table>

  <input type="submit" value="Save">
</form>
